<div class="flex flex-col sm:flex-row sm:justify-between sm:items-start px-[14px] pt-[6px]">
                <div class="flex flex-col mt-[11px]">
                    <div class="text-[12px] flex gap-1 mb-1">
                        <span class="text-gray-400">Pages /</span>
                        <span class="current-page text-white">Dashboard</span>
                    </div>
                    <div class="text-[14px] leading-[1.4]">
                        <p class="current-page text-white">Dashboard</p>
                    </div>
                </div>
                <div class="flex flex-col gap-1 sm:flex-row justify-center items-center mt-3 sm:mt-0">
                    <div class="bg-[#0F1535] border-dark rounded-[15px] text-[12px] overflow-hidden py-2 px-[5px] flex mx-2 flex gap-[6px]">
                        <span class="text-gray-700 py-[4px] px-[6px] text-[15px]">
                            <ion-icon name="search-outline" class="block"></ion-icon>
                        </span>
                        <input type="text" placeholder="Type here..." id="search"
                            class="leading-[1.5] text-gray-400 bg-[#0F1535] focus:outline-none min-w-[155px]">
                    </div>
                    <div class="flex items-center text-gray-500 text-[12px]">
                        <a href="index.html" class="gap-1 flex justify-center items-center p-1 me-[10px]">
                            <ion-icon name="person" class="block"></ion-icon>
                            <span class="leading-[1.5]">Sign In</span>
                        </a>
                        <button type="button" class="p-2 mx-[2px]">
                            <ion-icon name="settings" class="block"></ion-icon>
                        </button>
                        <button type="button" class="p-2 me-[7px]">
                            <ion-icon name="notifications" class="block"></ion-icon>
                        </button>
                    </div>
                </div>
            </div>