<div class="absolute top-0 left-0 w-full py-[22px]">
    <div
        class="max-w-[990px] m-0 mx-auto flex flex-col sm:flex-row justify-between items-center rounded-[20px] radial-border frosted-bg backdrop-blur-[42px] px-[23px] py-[18px]">
        <p class="text-[14px] mb-2 text-sm text-transparent font-bold tracking-[0.18em] logo-text">
            VISION
            UI FREE</p>
        <nav>
            <ul class="flex flex-wrap justify-around text-[10px] font-bold leading-[1.5] text-center ps-[38px] gap-[5px]">
                <li class="px-[8px] py-[6px] mx-[6px]"><a href="dashboard.html" id="dashboard-link"
                        class="flex gap-1 rounded-[12px]">
                        <img src="./assets/icons/dashboard.svg" alt="">
                        DASHBOARD</a></li>
                <li class="px-[8px] py-[6px] mx-[6px]"><a href="profile.html" id="profile-link"
                        class="flex gap-1 rounded-[12px]">
                        <img src="./assets/icons/profile.svg" alt="">
                        PROFILE</a></li>
                <li class="px-[8px] py-[6px] mx-[6px]"><a href="sign-up.html" class="flex gap-1 rounded-[12px]">
                        <img src="./assets/icons/sign-up.svg" alt="">
                        SIGN UP</a></li>
                <li class="px-[8px] py-[6px] mx-[6px]"><a href="index.html" class="flex gap-1 rounded-[12px]">
                        <img src="./assets/icons/sign-in.svg" alt="">
                        SIGN
                        IN</a></li>
            </ul>
        </nav>
        <button
            class="py-[10px] px-[38px] rounded-[12px] bg-[#0075FF] backdrop-blur-[120px] font-bold text-[10px] leading-[150%] tracking-[0em] leading-[1.5] text-center align-middle">Free
            Download</button>
    </div>
</div>