<div class="absolute top-0 left-0 w-full px-[24px] py-[16px]">
        <div
            class="max-w-[1044px] mx-auto flex flex-col sm:flex-row justify-between items-center rounded-[20px] radial-border bg-gradient-to-br from-white/5 to-white/10 backdrop-blur-md px-[24px] py-[16px]">
            <p
                class="py-[6px] text-[14px] text-sm text-transparent font-bold bg-clip-text bg-gradient-to-r from-white via-white via-[80%] to-[#757A8C]/0 tracking-widest">
                VISION
                UI FREE</p>
            <nav>
                <ul class="flex flex-wrap justify-around text-[14px] font-bold leading-[1.5] text-center">
                    <li class="p-[8px] mx-[8px]"><a href="../../dashboard.html" id="dashboard-link" class="flex gap-1 rounded-[12px]"><i
                                class="ri-instance-fill "></i>
                            DASHBOARD</a></li>
                    <li class="p-[8px] mx-[8px]"><a href="../../profile.html" id="profile-link" class="flex gap-1 rounded-[12px]"><i
                                class="ri-user-fill"></i>
                            PROFILE</a></li>
                    <li class="p-[8px] mx-[8px]"><a href="sign-up.html" class="flex gap-1 rounded-[12px]"><i
                                class="ri-group-2-fill"></i>
                            SIGN UP</a></li>
                    <li class="p-[8px] mx-[8px]"><a href="index.html" class="flex gap-1 rounded-[12px]"><i
                                class="ri-key-fill"></i>
                            SIGN
                            IN</a></li>
                </ul>
            </nav>
            <button
                class="py-[12px] px-[24px] rounded-[12px] bg-[#0075FF] backdrop-blur-[120px] font-bold text-[12px] leading-[150%] tracking-[0%] text-center align-middle">Free
                Download</button>
        </div>
    </div>