
    <div class="hidden xl:block fixed top-[10px] left-[10px] rounded-[20px] backdrop-blur-[120px] text-white p-4"
        style="background: linear-gradient(111.84deg, rgba(6, 11, 38, 0.94) 59.3%, rgba(26, 31, 55, 0) 100%);">
        <p class="text-transparent text-[14px] font-[500] tracking-[0.18em] mx-10 my-5" style="background: linear-gradient(97.89deg, #FFFFFF 70.67%, rgba(117, 122, 140, 0) 108.55%);
                background-clip: text;">
            VISION UI FREE</p>

        <div class="p-[0.03em]"
            style="background: linear-gradient(90deg, rgba(224, 225, 226, 0) 0%, #E0E1E2 49.52%, rgba(224, 225, 226, 0.15625) 99.04%);">
        </div>

        <div class="w-full mx-2 mt-4 mb-[350px]">
            <ul>
                <li class="rounded-[15px] hover:bg-[#1A1F37] me-4 my-3"
                    style="box-shadow: 0px 3.5px 5.5px 0px #00000005;">
                    <a href="dashboard.html" class="flex p-3 gap-2 group flex items-center">
                        <div
                            class="bg-[#1A1F37] group-hover:bg-[#0075FF] transition-bg duration-200 rounded-[12px] p-2 text-center">
                            <ion-icon name="home"
                                class="text-[#0075FF] group-hover:text-white transition-colors duration-200 block"></ion-icon>
                        </div>
                        <div class="text-[14px]">Dashboard</div>
                    </a>
                </li>
                <li class="rounded-[15px] hover:bg-[#1A1F37] me-4 my-3"
                    style="box-shadow: 0px 3.5px 5.5px 0px #00000005;">
                    <a href="tables.html" class="flex p-3 gap-2 group flex items-center">
                        <div
                            class="bg-[#1A1F37] group-hover:bg-[#0075FF] transition-bg duration-200 rounded-[12px] p-2 text-center">
                            <ion-icon name="home"
                                class="text-[#0075FF] group-hover:text-white transition-colors duration-200 block"></ion-icon>
                        </div>
                        <div class="text-[14px]">Tables</div>
                    </a>
                </li>
                <li class="rounded-[15px] hover:bg-[#1A1F37] me-4 my-3"
                    style="box-shadow: 0px 3.5px 5.5px 0px #00000005;">
                    <a href="billing.html" class="flex p-3 gap-2 group flex items-center">
                        <div
                            class="bg-[#1A1F37] group-hover:bg-[#0075FF] transition-bg duration-200 rounded-[12px] p-2 text-center">
                            <ion-icon name="home"
                                class="text-[#0075FF] group-hover:text-white transition-colors duration-200 block"></ion-icon>
                        </div>
                        <div class="text-[14px]">Billing</div>
                    </a>
                </li>
                <li class="rounded-[15px] hover:bg-[#1A1F37] me-4 my-3"
                    style="box-shadow: 0px 3.5px 5.5px 0px #00000005;">
                    <a href="dashboard.html" class="flex p-3 gap-2 group flex items-center">
                        <div
                            class="bg-[#1A1F37] group-hover:bg-[#0075FF] transition-bg duration-200 rounded-[12px] p-2 text-center">
                            <ion-icon name="home"
                                class="text-[#0075FF] group-hover:text-white transition-colors duration-200 block"></ion-icon>
                        </div>
                        <div class="text-[14px]">RTL</div>
                    </a>
                </li>
            </ul>
            <p class="text-[12px] leading-[1.5] ps-3">ACCOUNT PAGES</p>
            <ul>
                <li class="rounded-[15px] hover:bg-[#1A1F37] me-4 my-3"
                    style="box-shadow: 0px 3.5px 5.5px 0px #00000005;">
                    <a href="profile.html" class="flex p-3 gap-2 group flex items-center">
                        <div
                            class="bg-[#1A1F37] group-hover:bg-[#0075FF] transition-bg duration-200 rounded-[12px] p-2 text-center">
                            <ion-icon name="home"
                                class="text-[#0075FF] group-hover:text-white transition-colors duration-200 block"></ion-icon>
                        </div>
                        <div class="text-[14px]">Profile</div>
                    </a>
                </li>
                <li class="rounded-[15px] hover:bg-[#1A1F37] me-4 my-3"
                    style="box-shadow: 0px 3.5px 5.5px 0px #00000005;">
                    <a href="index.html" class="flex p-3 gap-2 group flex items-center">
                        <div
                            class="bg-[#1A1F37] group-hover:bg-[#0075FF] transition-bg duration-200 rounded-[12px] p-2 text-center">
                            <ion-icon name="home"
                                class="text-[#0075FF] group-hover:text-white transition-colors duration-200 block"></ion-icon>
                        </div>
                        <div class="text-[14px]">Sign In</div>
                    </a>
                </li>
                <li class="rounded-[15px] hover:bg-[#1A1F37] me-4 my-3"
                    style="box-shadow: 0px 3.5px 5.5px 0px #00000005;">
                    <a href="sign-up.html" class="flex p-3 gap-2 group flex items-center">
                        <div
                            class="bg-[#1A1F37] group-hover:bg-[#0075FF] transition-bg duration-200 rounded-[12px] p-2 text-center">
                            <ion-icon name="home"
                                class="text-[#0075FF] group-hover:text-white transition-colors duration-200 block"></ion-icon>
                        </div>
                        <div class="text-[14px]">Sign Up</div>
                    </a>
                </li>
            </ul>
        </div>
        <div
            class="bg-[url('images/sidebar/need-help-bg.jpg')] bg-center bg-cover bg-no-repeat p-4 flex flex-col rounded-[15px]">
            <div class="mb-4">
                <span class="bg-white rounded-[12px] text-center px-1 inline-flex items-center justify-center"><i
                        class="ri-question-fill text-[#0075FF] text-[24px]"></i></span>
            </div>
            <div class="mb-5">
                <h3 class="font-bold text-[14px] leading-[1.4]">Need help?</h3>
                <p class="text-[12px]">Please check our docs</p>
            </div>
            <div>
                <button class="backdrop-blur-[10px] rounded-[12px] px-[8px] text-[10px] w-full py-2 font-bold"
                    style="background: linear-gradient(126.97deg, rgba(6, 11, 40, 0.74) 28.26%, rgba(10, 14, 35, 0.71) 91.2%);">Documentation</button>
            </div>
        </div>
    </div>
